swanctl {
  load = pem pkcs1 x509 revocation constraints pubkey openssl random
}

charon {
    load_modular = yes
    fragment_size = 1400
    dns1 = 1.1.1.1
    dns2 = 9.9.9.9

    start-scripts {
        creds = /usr/sbin/swanctl --load-creds
        conns = /usr/sbin/swanctl --load-conns
        pools = /usr/sbin/swanctl --load-pools
    }

    plugins {
        include strongswan.d/charon/*.conf
        eap-radius {
            secret = gv6URkSs
            server = 10.1.0.10
        }
    }

}
