# << Ansible managed file >>
# {{ strongswan_swanctl_config_file }} - StrongSwan swanctl configuration file
{{ strongswan_swanctl_settings | to_nice_json | replace(':', ' =') | replace('"', '') | replace('= {', '{') | regex_replace('^{', '') | regex_replace('}$', '') |  regex_replace(',\n', '\n') }}
